.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
  }

  .header__links1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    cursor: pointer;
  }

  .header__links2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 25%;
    cursor: pointer;
  }